In [4]:
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import pandas as pd
import numpy as np
HEAD = ["submissionDate","institution","major","degree","notif_result","notif_date","gpa","gre","gre_w"]
data = pd.read_csv('../data/cleaned_data/cleaned_grad_cafe_admissions.csv',)

In [3]:
data.head(6)

,Unnamed: 0,submissionDate,institution,major,degree,notif_result,notif_date,gpa,gre,gre_w
0,0,2010-01-12,"University Of California, San Francisco (UCSF)",Neuroscience,PhD,Interview,2010-01-12,3.80,325.0,4.5
1,1,2010-01-12,"University Of California, San Francisco (UCSF)",Neuroscience,PhD,Interview,2010-01-12,3.86,326.0,4.0
2,2,2010-01-12,University College London,International Public Policy,Masters,Accepted,2009-11-26,3.60,309.0,0.0
3,3,2010-01-12,London School Of Economics (LSE),Master Of Public Administration (MPA),Masters,Accepted,2010-01-11,3.60,309.0,0.0
4,4,2010-01-12,Carnegie Mellon,Biological Sciences (Neuroscience),PhD,Interview,2010-01-12,3.40,331.0,5.0
5,5,2010-01-12,Duke University,Statistics,PhD,Interview,2010-01-08,3.70,324.0,5.5

In [5]:
# Split the data into training and testing sets
X = data.iloc[:,[1,2,3,4,6,7,8,9]]  # select all columns except the last one
y = data.iloc[:, 5]   # select the last column
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=48)